.login-container {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	h1 {
		margin-bottom: 75px;
		color: #333333;
		font-weight: 500;
		font-size: 48px;
		line-height: 59px;
		font-family: Montserrat;
	}

	.border-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;
		width: 100%;
		border: 1px dashed #7B61FF;
		padding: 20px;
		box-sizing: border-box;
	}

	.middleware {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		margin-top: 20px;

		span {
			font-family: Montserrat;
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 22px;
			color: rgba(51,51,51, 1);
			cursor: pointer;

			&:hover {
				color: rgba(51,51,51, 0.8);
			}

			&:active {
				color: rgba(51,51,51, 0.7);
			}
		}
	}

	button {
		margin-top: 70px;
	}
}